{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}
<Breadcrumb @crumb={{hash label=this.model.namespace.name args=(array "access-control.namespaces.acl-namespace" this.model.namespace.name)}} />
{{page-title "Namespace"}}
<section class="section">
	<h1 class="title with-flex" data-test-title>
		<div>
			{{this.model.namespace.name}}
		</div>
		{{#if (and (not (eq this.model.namespace.name "default"))  (can "destroy namespace"))}}
			<TwoStepButton
          data-test-delete-namespace
          @alignRight={{true}}
          @idleText="Delete Namespace"
          @cancelText="Cancel"
          @confirmText="Yes, Delete Namespace"
          @confirmationMessage="Are you sure?"
          @awaitingConfirmation={{this.deleteNamespace.isRunning}}
          @disabled={{this.deleteNamespace.isRunning}}
          @onConfirm={{perform this.deleteNamespace}}
        />
		{{/if}}
	</h1>
	<NamespaceEditor @namespace={{this.model.namespace}} />
</section>
